{% extends "HelbManager/base.html" %}
{% block content %}

{% if notifications %}
    <article class="media content-section" style="background-color: orange;">
        <div class="media-body">
        {% for notification in notifications%}
        <div>
            <span style="float:left; width: 520px;">{{ notification.projectName }} : {{ notification.description }}</span>
            <a class="btn-secondary btn-sm mt-1 mb-1" href="{% url 'HelbManager-notification-read' notification.id %}">Read</a>
        </div>
        {% endfor %}
    </div>
    </article>
{% endif %}

{% for project in projects%}


    <article class="media content-section">
        <img class="rounded-circle article-img" src="#"> <!--{{ project.author.profile.image.url }}-->
        <div class="media-body media-dark">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'project-detail' project.id %}">{{ project.author.username }}</a>
            <small class="text-muted">{{ project.date_posted | date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'project-detail' project.id %}">{{ project.title }}</a></h2> <!-- attention ici-->
        <!-- <p class="article-content">{{ project.content }}</p> -->
        {% for task in tasks%}
            {%if task.project_id == project.id%}
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'task-detail' task.id %}">{{ task.name }}</a>
                        {% if task.status == 1 %}
                           <small style="color: blue; font-style: italic">(Not started)</small>
                        {% endif %}
                        {% if task.status == 2 %}
                            <small style="color: orange; font-style: italic">(In progress)</small>
                        {% endif %}
                        {% if task.status == 3 %}
                            <small style="color: green; font-style: italic">(Done)</small>
                        {% endif %}
                        {% if task.status == 4 %}
                            <small style="color: red; font-style: italic" >(In revision)</small>
                        {% endif %}
                        <p>
                            <!-- <a class="article-title" href="#"><p>{{ task.content }}</a> -->
                        </p>
                    </div>
                </div>  
            {% endif %}
        {% endfor %}
        </div>

    </article>
{% endfor %}
{% endblock content %}

 